{% extends 'frontend/home.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/frontend/updatepassword.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
{% endblock style %}

{% block content %}
<div id="centerprofile">
    <div id="profile">
        <h2>Change Password</h2>
        <form id="passwordChangeForm" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label for="old_password">Current Password:</label>
                    <input type="password" id="old_password" name="old_password" required>
                    {% if form.old_password.errors %}
                        <div class="error">{{ form.old_password.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="new_password1">New Password:</label>
                    <input type="password" id="new_password1" name="new_password1" required>
                    {% if form.new_password1.errors %}
                        <div class="error">{{ form.new_password1.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="new_password2">Confirm New Password:</label>
                    <input type="password" id="new_password2" name="new_password2" required>
                    {% if form.new_password2.errors %}
                        <div class="error">{{ form.new_password2.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="button-group">
                <button type="submit" id="updateBtn">Change Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}


