{% extends 'frontend/home.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/frontend/enrollcourses.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
  rel="stylesheet"
/>
{% endblock style %}

{% block content %}
<div class="enroll-courses-container">
    <h2>Your Enrolled Courses</h2>
    {% if enrolled_courses %}
        <ul>
            {% for enrollment in enrolled_courses %}
                <li>
                    <p>{{ enrollment.courseid.coursename }} - ₹{{ enrollment.courseid.courseprice }}</p>
                    <p>Enrolled on: {{ enrollment.enrollment_date|date:"D, d M Y H:i:s" }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not enrolled in any courses yet.</p>
    {% endif %}
    <div class="actions">
        <a href="{% url 'cart' %}" class="btnname">Back to Cart</a>
        <a href="{% url 'home' %}" class="btnname">Home</a>
    </div>
</div>
{% endblock content %}
