{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    {% block style %}<link rel="stylesheet" href="{% static 'css/frontend/home.css' %}">{% endblock style %}
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <nav>
        <div id="left">
            <div>
                <img src="https://ik.imagekit.io/sheryians/Sheryians_logo_EzwgcppnD" alt="shair" height='23px'>
            </div>
            <div>Sheryians coding school</div>
        </div>
        <div id="right">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'card' %}">Courses</a>
            <a href="{% url 'cart' %}">Cart</a>
            <a href="{% url 'enroll_courses' %}">enrolled-courses</a>
            {% if user.is_authenticated %}
        <div class="dropdown">
            <button class="btn" id="menu">{{ user.username|slice:":1" }}</button>
                <div id="full">
                    <div id="username"><h3>{{user}}</h3>
                    <hr></div>
                    <div id="profilelink"><div class="togethier"><i class="ri-user-line i"></i><a href="{% url 'profile' %}">Proflie</a></div><div><i class="ri-arrow-right-s-line i"></i></div></div>
                    
                    <div id="logout"><div class="togethier"><i class="ri-logout-circle-r-line i"></i><a href="{% url 'logout' %}">logout</a></div><div><i class="ri-arrow-right-s-line i"></i></div></div>
                </div>
        {% else %}
        <a href="{% url 'Login' %}"><button class="btnname">Login</button></a>
        {% endif %}
        </div>
    </nav>
    {% block content %}
    <div id="main">
        <div id="first">We only <span>teach</span></div>
        <div id="middle">what we are really</div>
        <div id="last">really <span>good</span> at.</div>
    </div>
    <div id="long">
        <button>Check Courses-Make an Impact</button></div>
    <div id="side"><div id="sidef">
        Get ready to <span>accelerate your career </span> with customized courses and leave
        your mark in the tech industry</div></div>
    {% endblock content %} 
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'javascript/script.js' %}"></script>
</body>
</html>
